# Node
node_modules/
dist/

# Cocos Creator
client/library/
client/local/
client/temp/
client/build/
client/profiles/
*.meta

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local

# 抖音开发者工具（构建产物）
**/bytedance-mini-game/
# 但保留构建模板
!client/build-templates/bytedance-mini-game/
